body {
    margin: 0;
    background-color: white;
    overflow-y: scroll;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.sidebar {
    background-color: #f0f0f0;
    padding: 20px 20px 20px 30px;
}

.sidebar h2 {
    margin-top: 5px;
}

@media(min-width: 768px) {
    .sidebar {
        height: 100vh;
    }
}